#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  box-sizing: border-box;
}

body{
  background-color: #212121;
}

h1{
  color: #fff;
}
ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

li{
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

li a{
  color: #fff;
  font-size: 15px;
}

li img{
  max-width: 100%;
  height: 80px;
}

footer{
  margin-top: 50px;
  color: #888;
}

.detail{
  width: 500px;
  margin: 0 auto;
  color: #fff;
}

.detail img{
  width: 100%;
}

.searchBar{
  display: flex;
  margin: 0 auto;
  background-color: #111;
  width: 340px;
  justify-content: space-between;
  padding: 5px 5px 5px 15px;
  height: 40px; 
  border-radius: 20px;
  margin-bottom: 20px; 
}

.searchBar input{
  background: none;
  border:none;
  color: #fff;
  width: 60%;
}

.searchBar button{
  padding: 0 10px;
  height: 30px;
  border-radius: 16px;
  color: #fff;
  background-color: rgba(255,255,255,0.2);
  font-size: 14px;

}